MONGODB_URI=mongodb+srv://khuynhtruong52_db_user:r03wk1Mrh1Eao9eC@dating-now.lcjp7yv.mongodb.net/dating-now?appName=dating-now
JWT_SECRET=dating-now-secret-2024
PI_API_KEY=your_pi_api_key_here
PORT=3000
